* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #fff159;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-content {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  max-width: 510px;

  overflow: hidden;
}
.logo {
  width: 44px;
  height: 32px;
}
.search-form {
  display: flex;
  gap: 14px;
  flex-grow: 1;
}
.search-input {
  height: 32px;
  border: none;
  flex-grow: 1;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: white;
}
.search-input:focus{
  background-color: white;
}

.search-button {
  height: 32px;
  border: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.content {
  max-width: 510px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.results-count {
}

.results {
  font-weight: normal;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.result-item {
  border: solid 1px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  padding: 13px 15px;
  gap: 13px;
  margin-top: 20px;


}

.result-item-img-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-item-img {
  width: 128px;
  max-height: 128px;
}

.result-item-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 248px;
}

.result-item-title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.result-item-condition {
  margin-top: 4px;
}

.result-item-sell-count {
  margin: 60px auto 0 0;
}

.result-item-sell-count-num {
}

.result-item-price-content {
  width: 100px;
  display: flex;
  justify-content: end;
}

.result-item-price {
  font-weight: bold;
  font-size: 28px;
  color: #5791a4;
}
.prueba {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media (max-width: 530px) {
  .prueba {
    flex-direction: column;
  }
  .result-item-price-content {
    width: 100px;
    display: flex;
    justify-content: start;
  }
  .result-item {
    max-width: 100%;
  }
  .result-item-sell-count {
    margin: 10px auto 0 0;
  }
  .result-item-content {
    width: 100%;
    flex-grow: none;
  }
}
248